# Pandas Tasks and Challenges

### Task 1:
    Open file heights_weights_genders using open function and convert the males/Males to 0 and females/Females to 1
    Note: Do not use pandas dataframes...

In [42]:
# how to read content of the file
with open('files/heights_weights_genders.csv') as file:
    lines = file.readlines()
    a = ""
    coun = 0
    for i in lines:
        if "Female" in i:
            a = i.replace("Female","1")
        elif "Male" in i:
            a = i.replace("Male","0") 
        else:
            continue
        lines[coun] = a
        coun+=1    
            
        
lines[6000:6005]

['"1",65.1748308761764,139.989934059748\n',
 '"1",63.715969976713,144.256790545024\n',
 '"1",64.9670945229996,134.724966128497\n',
 '"1",62.5864637847256,132.732254677612\n',
 '"1",66.0738700860418,162.949944756918\n']

In [40]:
lines[600:605]

['"0",70.3116943408726,184.243860348496\n',
 '"0",67.1155643547224,168.202167127644\n',
 '"0",65.9324817643713,151.384618198034\n',
 '"0",67.2277450207952,185.970160851636\n',
 '"0",70.1143436293898,203.241731802719\n']

### Task 2:
    Do the previous using pandas dataframes...

In [94]:
import pandas as pd
df = pd.read_csv("files/heights_weights_genders.csv")
df = df.replace("Male",0);
df = df.replace("Female",1);
df

      Gender     Height      Weight
0          0  73.847017  241.893563
1          0  68.781904  162.310473
2          0  74.110105  212.740856
3          0  71.730978  220.042470
4          0  69.881796  206.349801
...      ...        ...         ...
9995       1  66.172652  136.777454
9996       1  67.067155  170.867906
9997       1  63.867992  128.475319
9998       1  69.034243  163.852461
9999       1  61.944246  113.649103

[10000 rows x 3 columns]

### Task 3:
    Check whether mens are heavier or women

In [84]:
if (df.groupby('Gender').mean()["Weight"][0] > df.groupby('Gender').mean()["Weight"][1]):
    print("Mens are heavier!")
else:
    print("Womans are heavier!")

Mens are heavier!

### Task 4:
    Read the tips file and check whether males pay more tips or females

In [158]:
import pandas as pd
tips_df = pd.read_csv('files/tips.csv')
tips_df.head(15)

    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
1        10.34  1.66    Male     No  Sun  Dinner     3
2        21.01  3.50    Male     No  Sun  Dinner     3
3        23.68  3.31    Male     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
5        25.29  4.71    Male     No  Sun  Dinner     4
6         8.77  2.00    Male     No  Sun  Dinner     2
7        26.88  3.12    Male     No  Sun  Dinner     4
8        15.04  1.96    Male     No  Sun  Dinner     2
9        14.78  3.23    Male     No  Sun  Dinner     2
10       10.27  1.71    Male     No  Sun  Dinner     2
11       35.26  5.00  Female     No  Sun  Dinner     4
12       15.42  1.57    Male     No  Sun  Dinner     2
13       18.43  3.00    Male     No  Sun  Dinner     4
14       14.83  3.02  Female     No  Sun  Dinner     2

In [101]:
if( tips_df.groupby('sex').mean()["tip"]["Male"] > tips_df.groupby('sex').mean()["tip"]["Female"]):
    print("Mens pay More Tips!")
else:
    print("Womans pay More Tips!")

Mens pay More Tips!

### Task 5:
    Compute the average tips people give for different meals
    Note:
        Your program should not be static. As an example, if a dataframe with three meals were to be given to your code/function, it should be able to work properly without raising any errors or requirements for extra input..

In [114]:
def avg_tip (df):
    """"
    avrage tip per meal type.
    IMP point :
    your meals name should be in a column named "time". 
    """
    meals = df["time"].unique()
    meals_Number = len(meals)
    out_put = {}#creat a dict to save meal name and avg_tip
    for i in meals:
        out_put[i] = df.groupby('time').mean()["tip"][i]
    return out_put

avg_tip(tips_df)

{'Dinner': 3.102670454545455, 'Lunch': 2.7280882352941176}

### Task 6:
    Which day of the week do smokers like the better?

In [119]:
print(tips_df["day"].unique())

['Sun' 'Sat' 'Thur' 'Fri']

So in our DataFrame we just have these 4 days!

In [152]:
a = tips_df.groupby('day').count()["smoker"].sort_values(ascending=False).head(1)
a = str(a)
print(f"we have {a[:10]} with {a[10:14]} smoker!")

we have day
Sat    with  87
 smoker!

### Task 7:
    compute the sum of tips( or any other column) paid by 4 different groups (Smoker-males, non-smoker-males, smoker-females, and non-smoker-females)
    It's better to create a function to handle this task.
    Note: you are not allowed to use group by and other out of the box functionalities.
    Just: use dataframes and iterate over them ...

### The best function to use is :pivot_table

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pivot_table.html?highlight=pivot_table#pandas.DataFrame.pivot_table

In [224]:
def SEX_Smok(tips_df):
    return pd.pivot_table(tips_df, index=['sex', 'smoker'], aggfunc={'tip' : 'sum'})
SEX_Smok(tips_df)

                  tip
sex    smoker
Female No      149.77
       Yes      96.74
Male   No      302.00
       Yes     183.07

*:)*